@model BachHoa.Models.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .register-page {
        margin: auto;
        background-color: #ffffff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        height: 100%;
        border-radius: 10px;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
    }

        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #4CAF50;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            cursor: pointer;
        }

            .form button:hover, .form button:active, .form button:focus {
                background: #43A047;
            }

        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }

            .form .message a {
                color: #4CAF50;
                text-decoration: none;
            }

    .label-register {
        margin-bottom: 30px;
    }
</style>
@using (Html.BeginForm())
{
    <div class="register-page">
        <div class="form">
            <h1 class="label-register">Đăng ký</h1>
            <form class="register-form">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.password, new { htmlAttributes = new { placeholder = "Mật khẩu" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

                <input typeof="password" placeholder="Nhập lại mật khẩu"
                       data-val="true" data-val-required="Phải nhập mật khẩu xác nhận!"
                       id="MatKhauXacNhan" name="MatKhauXacNhan" type="password" value="" ariadescribedby="MatKhauXacNhan-error" aria-invalid="true">
                @ViewData["NhapMKXN"]
                @ViewData["MatKhauGiongNhau"]

                @Html.EditorFor(model => model.name, new { htmlAttributes = new { placeholder = "Tên người dùng" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.dob, new { htmlAttributes = new { placeholder = "Ngày sinh" } })
                @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.gender, new { htmlAttributes = new { placeholder = "Giới tính" } })
                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.address, new { htmlAttributes = new { placeholder = "Địa chỉ" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.phonenumber, new { htmlAttributes = new { placeholder = "Số điện thoại" } })
                @Html.ValidationMessageFor(model => model.phonenumber, "", new { @class = "text-danger" })
                <p class="message">Already registered? <input type="submit" value="Đăng ký"/></p>
            </form>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
